.left-form {
    -fx-background-color: linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-color: #000;
    -fx-border-width: 0.4px 0px 0.4px 0.4px;
}

.right-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 0.4px 0.4px 0.4px 0px;
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #fb3d63;
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 5px;
    -fx-border-color: #000;
    -fx-border-width: 0.2px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
}

.textfield:focused {
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width: 0.8px;
}

.login-btn {
    -fx-background-color: linear-gradient(to bottom, #2968a7, #14405d);
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.login-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #277bd0, #1b6fa4);
}

#minimize, #close {
    -fx-border-color: black; /* Color of the border */
    -fx-border-width: 1px;   /* Thickness of the border */
    -fx-background-color: transparent; /* Transparent background */
    -fx-background-insets: 0; /* No padding around the content */
    -fx-background-radius: 0; /* No rounded corners */
    -fx-text-fill: white;
}

#minimize:hover, #close:hover {
    -fx-background-color: red; /* Darker shade of red on hover */
    -fx-text-fill: white;
}