/* styles.css */
.root {
    -fx-background-color: #f0f0f0;
}

.label {
    -fx-font-size: 14pt;
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #3e8e41;
}


.search-fieldbyID {
/*    -fx-background-color: white;*/
    -fx-background-radius: 10;   /* Adjust the radius as needed */
    -fx-border-color: black;     /* Optional: Border color */
    -fx-border-radius: 10;       /* Match the background radius */
    -fx-border-width: 1;         /* Adjust the border width as needed */
    -fx-padding: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);  /* Shadow effect */
}

.searcharea-fieldbyID {
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-padding: 1;
    fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
}

.avsButton {
    -fx-background-color: #2584b9;
    -fx-border-radius: 10;
    -fx-border-width: 0;
    -fx-background-radius: 10;
    -fx-border-color: #3dbceae3;
    -fx-text-fill: white;
}

.avsButton:hover {
    -fx-background-color: #236082;
    -fx-background-radius: 10;
}

.sidebarcss {
    -fx-background-radius: 10;   /* Adjust the radius as needed */
    -fx-border-color: black;     /* Optional: Border color */
    /*    -fx-border-radius: 10;       *//* Match the background radius */
    -fx-border-width: 2;         /* Adjust the border width as needed */
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);  /* Shadow effect */
}